<div class='border border-secondary p-3 border-opacity-50 rounded mb-2'>
  <p><%= comment.body %></p>
  <div>
    <span>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    </span>
    <em><%= l comment.created_at, format: :short %></em>
    
    <% if current_user_can_edit?(comment) %>
      <%= link_to(
        bi_icon('trash-fill'),
        event_comment_path(comment.event, comment),
        method: :delete,
        title: t('buttons.delete_comment'),
        data: {confirm: t('.destroy_confirm')}
      ) %>
    <% end %>
  </div>
</div>
