<%= form_for [@event, subscription] do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: subscription} %>

  <% unless user_signed_in? %>
    <div class='mb-3'>
      <%= f.label :user_name, t('subscriptions.labels.user_name'), class: 'mb-1' %>
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>

    <div class='mb-3'>
      <%= f.label :user_email, t('subscriptions.labels.email'), class: 'mb-1' %>
      <%= f.email_field :user_email, class: 'form-control' %>
    </div>
  <% end %>

  <div class='actions mb-3'>
    <%= f.submit t('buttons.subscribe'), class: 'btn btn-primary' %>
  </div>
<% end %>
