<%= form_for [@event, photo], html: { multipart: true } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: photo} %>

  <div class='mb-3'>
    <%= f.label :photo, class: 'mb-1' %>
    <%= f.file_field :photo, class: 'form-control' %>
  </div>

  <div class='actions mb-3'>
    <%= f.submit t('buttons.upload'), class: 'btn btn-primary' %>
  </div>
<% end %>
