<h1><%= t '.title' %></h1>

<%= link_to image_tag(@photo.photo.variant(resize_to_fit: [300, 300])), url_for(@photo.photo)%>
<p><%= t '.author' %>: <strong><%= @photo.user.name %></strong></p>

<hr/>

<%= t '.event' %>
<h3><%= link_to @event.title, event_url(@event) %></h3>

<%= t '.datetime' %>
<h4><%= l @event.datetime %></h4>

<%= t '.owner' %>
<h4><%= @event.user.name %></h4>
