<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navigation' %>
    
    <div class='container mt-4'>
      <% if flash[:notice].present? %>
        <div class='alert alert-success alert-dismissible fade show' role='alert'>
          <%= flash[:notice] %>
          <button type='button' class='btn-close' data-bs-dismiss='alert'></button>
        </div>
      <% elsif flash[:alert].present? %>
        <div class='alert alert-danger alert-dismissible fade show' role='alert'>
          <%= flash[:alert] %>
          <button type='button' class='btn-close' data-bs-dismiss='alert'></button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
